p {
    color: black;
    background-color: orange;
    padding: 10px;
}
.cc{
    color: purple;
    background-color: wheat;
    padding: 10px;
}
#cc{
    color: white;
    background-color: green;
    padding: 10px;
}

